
<div class="navegation">
    <ul>
        <li>
            <a href="">
                <span class="icon">
                </span>
                <span class="title" ></span><br>
            </a>
        </li>
       
        <li>
            <a   href="#" class="limpaStorage" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="PÁGINA INICIAL"  data-bs-placement="right">
                <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></span>
                <span class="title">Home</span>
            </a>
        </li>
        <li>
            <a href="#" class="limpaStorage" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="ESTATÍSTICA"  data-bs-placement="right">
                <span class="icon"></span>
                <span class="title">Painel  Estatístico</span>
            </a>
        </li>
        <li >
            <a  href="#" class="limpaStorage" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="CONTROLE USUÁRIOS"  data-bs-placement="right">
                <span class="icon"></span>
                <span class="title">Usuários</span>
            </a>
        </li>
        <li >
            <a  href="#" class="limpaStorage"data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="FINANCEIRO"  data-bs-placement="right">
                <span class="icon"></span>
                <span class="title">Financeiro</span>
            </a>
        </li>
        <li >
            <a  href="#" class="limpaStorage"data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="DESPESA FROTA"  data-bs-placement="right" >
                <span class="icon"></span>
                <span class="title">Despesas Frota</span>
            </a>
        </li>
        <li >
            <a  href="#" class="limpaStorage" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="CONTROLE DE ENTREGAS"  data-bs-placement="right">
                <span class="icon"></span>
                <span class="title">Entregas</span>
            </a>
        </li>
       
    </ul>
   
</div>