<mat-card>
    <mat-toolbar color="primary">
        <span>Gestão Financeira</span>
      </mat-toolbar>

      <div *ngIf="contasApagar$ | async as contasApagar; else loading ">
            <table mat-table [dataSource]="contasApagar" class="mat-elevation-z8">

                        <!-- Position Column -->
                      <ng-container matColumnDef="EMPRESA" >
                          <th mat-header-cell *matHeaderCellDef> EMPRESA </th>
                          <td mat-cell *matCellDef="let element" (click)="openDialog()"> {{element.empresa.nome}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="VENCIMENTO">
                            <th mat-header-cell *matHeaderCellDef>VENCIMENTO </th>
                  <td mat-cell *matCellDef="let element"> {{element.dataVencimento}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="VALOR">
                  <th mat-header-cell *matHeaderCellDef> VALOR </th>
                  <td mat-cell *matCellDef="let element"> R$ {{element.valorDuplicata}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="FORNECEDOR">
                    <th mat-header-cell *matHeaderCellDef> FORNECEDOR </th>
                    <td mat-cell *matCellDef="let element"> {{element.fornecedor}} </td>
                </ng-container>

                <ng-container matColumnDef="DATA PG">
                  <th mat-header-cell *matHeaderCellDef> DATA PG </th>
                  <td mat-cell *matCellDef="let element"> {{element.dataPagamento}} </td>
              </ng-container>

              <ng-container matColumnDef="SITUACAO">
                <th mat-header-cell *matHeaderCellDef> SITUACAO</th>
                <td mat-cell *matCellDef="let element"> {{element.situacao}} </td>
              </ng-container>
                  <ng-container matColumnDef="N/D">
                    <th mat-header-cell *matHeaderCellDef> N/D</th>
                    <td mat-cell *matCellDef="let element"> {{element.nd}} </td>
                </ng-container>
                  <ng-container matColumnDef="PARCELA">
                    <th mat-header-cell *matHeaderCellDef>PARCELA</th>
                    <td mat-cell *matCellDef="let element"> {{element.parcela}} </td>
                </ng-container>
                  <ng-container matColumnDef="TIPO">
                    <th mat-header-cell *matHeaderCellDef>TIPO</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoDespesa}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    </div>
<ng-template #loading>
  <div class="loading-spinner">
  <mat-spinner></mat-spinner>
</div>

</ng-template>
</mat-card>


